/* Navbar */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 2;
    display: none;
    color: $verde;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 84px;
    display: flex;
    background-color: white;
    width: 100%;
    z-index: 999999999999;
}

.nav-img {
    width: 20%;
    display: flex;
    align-items: center;
    img {
        width: 200px;
        margin-left: 20px;
    }
}

.navegacion {
    display: flex;
    width: 100%;
    margin-left: auto;
    .nav-navbar {
        max-width: 100%;
        display: flex;
        margin-left: auto;
        ul {
            margin: 0;
            display: flex;
            font-size: 1rem;
            font-weight: lighter;
            text-transform: uppercase;
            text-align: center;
            max-width: 100%;
            li {
                margin: 0 10px;
                padding: 20px 20px;
                a {
                    max-width: 100%;
                    color: black;
                    cursor: pointer;
                }
            }
        }
        .active {
            background-color: $verde;
            a {
                color: white;
            }
        }
    }
    
    .nav-icon {
        display: flex;
        color: white;
        margin-right: 20px;
    }
    
    .icon-item {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        a {
            text-decoration: none;
            background-color: black;
            padding: 8px;
            margin-left: 10px;
            border-radius: 50%;
            width: 17px;
            height: 17px;
        }
        i {
            color: white;
        }
    }
}

@media screen and (max-width:950px){
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    .nav {
        flex-direction: column;
    }
    .nav-img {
        width: 40%;
        height: 84px;
        img {
            width: 150px;
            margin-left: 20px;
        }
    }
    .navegacion {
        flex-direction: column;
        position: fixed;
        top: 80px;
        margin-top: 5px;
        margin-left: 0;
        height: 100vh;
        z-index: 90000;
        width: 350px;
        background-color: rgba(102, 153, 51, 0.8);
        transform: translateX(-105%);
        transition: transform 1s;
        .nav-navbar {
            margin-left: 0;
            .active {
                background-color: transparent;
                border-left: 3px solid white;
            }
            ul {
                flex-direction: column;
                padding-left: 5px;
                width: 60%;
                li {
                    a {
                        color: white;
                    }
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    .show {
        transform: translateX(0);
    }
}