.somos-masthead,
.somos-masthead2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: $grisFuerte;
    h1 {
        text-transform: uppercase;
        color: white;
    }
}

.somos-masthead2 {
    background-color: white;
    h1 {
        color: $grisFuerte;
    }
}

.somos-experiencia,
.trayectoria-contenido {
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: white;
    .exp-col-1,
    .trayectoria-contenido-fake {
        width: 20%;
        background-color: $verde;
        text-align: center;
        color: white;
        img {
            max-width: 100%;
        }
    }
    .trayectoria-contenido-fake {
        background-color: rgb(247, 247, 234);;
    }
    .exp-col-2,
    .trayectoria-contenido-col1 {
        width: 60%;
        padding: 0 15px;
        p {
            margin-top: 0;
            // color: $grisFuerte;
            text-align: justify;
            line-height: 1.5rem;
            letter-spacing: 0.05rem;
        }
        h3 {
            color: $verde;
            margin-bottom: 60px;
        }
    }
    .exp-col-3,
    .trayectoria-contenido-col2 {
        width: 20%;
        video {
            max-width: 100%;
        }
        img {
            max-width: 50%;
        }
    }
}

@media screen and (max-width:850px){
    .trayectoria-contenido {
        .trayectoria-contenido-fake {
            display: none;
        }
        .trayectoria-contenido-col1 {
            width: 70%;
        }
        .trayectoria-contenido-col2 {
            width: 30%;
        }
    }
    .somos-experiencia {
        flex-wrap: wrap-reverse;
        justify-content: center;
        .exp-col-2 {
            width: 100%;
            order: 1;
            margin-bottom: 30px;
        }
        .exp-col-1,
        .exp-col-3 {
            width: 40%;
            margin: 0 10px;
        }
    }
}

@media screen and (max-width:650px){
    .trayectoria-contenido {
        flex-direction: column;
        .trayectoria-contenido-col1 {
            width: 90%;
        }
        .trayectoria-contenido-col2 {
            width: 90%;
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
    }
}

@media screen and (max-width:550px){
    .somos-experiencia {
        .exp-col-1,
        .exp-col-3 {
            width: 100%;
            margin: 0 10px;
        }
    }
}