$verde: rgb(102, 153, 51);
$naranjaMedio: #ff9900;
$blancoGris: rgb(247, 247, 234);
$naranjaFuerte: #ff9933;
$amarillo: #ffcc00;
$grisClaro: #cccccc;
$grisFuerte: rgb(153, 153, 153);
$verdeClaro: #99cc99;
