* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  padding-top: 84px;
  background-color: #f7f7ea;
}

/* Navbar */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 2;
  display: none;
  color: #669933;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  z-index: 999999999999;
}

.nav-img {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-img img {
  width: 200px;
  margin-left: 20px;
}

.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
}

.navegacion .nav-navbar {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navegacion .nav-navbar ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
}

.navegacion .nav-navbar ul li {
  margin: 0 10px;
  padding: 20px 20px;
}

.navegacion .nav-navbar ul li a {
  max-width: 100%;
  color: black;
  cursor: pointer;
}

.navegacion .nav-navbar .active {
  background-color: #669933;
}

.navegacion .nav-navbar .active a {
  color: white;
}

.navegacion .nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-right: 20px;
}

.navegacion .icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.navegacion .icon-item a {
  text-decoration: none;
  background-color: black;
  padding: 8px;
  margin-left: 10px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
}

.navegacion .icon-item i {
  color: white;
}

@media screen and (max-width: 950px) {
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-img {
    width: 40%;
    height: 84px;
  }
  .nav-img img {
    width: 150px;
    margin-left: 20px;
  }
  .navegacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 80px;
    margin-top: 5px;
    margin-left: 0;
    height: 100vh;
    z-index: 90000;
    width: 350px;
    background-color: rgba(102, 153, 51, 0.8);
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .navegacion .nav-navbar {
    margin-left: 0;
  }
  .navegacion .nav-navbar .active {
    background-color: transparent;
    border-left: 3px solid white;
  }
  .navegacion .nav-navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5px;
    width: 60%;
  }
  .navegacion .nav-navbar ul li {
    border-bottom: 1px solid white;
  }
  .navegacion .nav-navbar ul li a {
    color: white;
  }
  .show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.redes-title {
  text-align: center;
}

.redes-title h3 {
  color: #669933;
}

.redes {
  width: 100%;
  height: 80px;
  background-color: #669933;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes a {
  text-decoration: none;
}

.redes a i {
  color: white;
  margin: 10px;
  font-size: 2.2rem;
}

.ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 50px solid #669933;
}

.ubicacion .ubicacion-dir {
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.ubicacion .ubicacion-dir h2, .ubicacion .ubicacion-dir h4 {
  text-transform: uppercase;
}

.ubicacion .ubicacion-dir h2 {
  color: #669933;
}

.ubicacion .ubicacion-dir h4 {
  margin-bottom: 0;
}

.ubicacion .ubicacion-dir p {
  margin: 0;
}

.ubicacion .ubicacion-dir i {
  font-size: 3.5rem;
  margin-top: 20px;
}

.ubicacion .ubicacion-mapa {
  max-width: 500px;
}

.ubicacion .ubicacion-mapa iframe {
  width: 500px;
  height: 100%;
}

.telefonos {
  width: 100%;
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.telefonos .telefonos-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.telefonos .telefonos-col i {
  font-size: 3rem;
  margin-right: 15px;
  color: #669933;
}

.telefonos .telefonos-col h3 {
  color: #669933;
}

.zocalo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #999999;
}

.zocalo h3 {
  margin: 0 10px;
  color: white;
}

.derechos h4 {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .ubicacion {
    width: 100%;
  }
  .ubicacion .ubicacion-dir {
    width: 40%;
  }
  .ubicacion .ubicacion-mapa {
    width: 60%;
  }
  .ubicacion .ubicacion-mapa iframe {
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .ubicacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ubicacion .ubicacion-dir,
  .ubicacion .ubicacion-mapa {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
  }
  .telefonos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    height: auto;
    padding: 20px 0px;
  }
  .zocalo h3 {
    font-size: 0.8rem;
  }
}

.icon-wtsp {
  z-index: 1500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 50px;
  top: 70px;
}

.icon-wtsp img {
  width: 90px;
}

.icon-wtsp h2, .icon-wtsp p {
  margin: 0;
}

@media screen and (max-width: 650px) {
  .icon-wtsp {
    right: 15px;
  }
}

.icon-wtsp2 {
  position: fixed;
  z-index: 15000000000000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 20px;
  bottom: 30px;
  background-color: white;
  border: 2px solid #669933;
  color: #669933;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  padding-right: 20px;
  padding-left: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.icon-wtsp2 img {
  width: 50px;
}

.icon-wtsp2 h4, .icon-wtsp2 p {
  margin: 0;
}

.icon-wtsp2:hover {
  background-color: #669933;
  color: white;
}

/* SLIDER */
@-webkit-keyframes slidejs {
  0%, 85% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
@keyframes slidejs {
  0%, 85% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@-webkit-keyframes textjs {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textjs {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.contenedor-slider {
  position: relative;
  height: 60vh;
  width: 100%;
  margin-top: 30px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide img, .slide picture {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.slideAnimado {
  z-index: 100;
  -webkit-animation-name: slidejs;
          animation-name: slidejs;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.texto-slider {
  display: none;
  position: absolute;
  width: 350px;
  height: 120px;
  right: 80px;
  bottom: 0;
  z-index: 110;
  background-color: rgba(153, 153, 153, 0.7);
  color: white;
  padding: 20px 30px 20px 30px;
}

.texto-slider h2, .texto-slider p {
  margin: 5px;
  text-align: center;
}

.texto-slider h1 {
  text-align: center;
  vertical-align: middle;
}

.texto-slider-show {
  display: block;
  -webkit-animation-name: textjs;
          animation-name: textjs;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider_navigation {
  width: 100%;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0px;
  z-index: 1500;
}

.slider-nav {
  width: 20px;
  height: 20px;
  background-color: #999999;
  border-radius: 50%;
  margin: 0 5px;
}

.slider-active {
  background: black;
}

@media screen and (max-width: 850px) {
  .texto-slider {
    right: 0px;
    width: 100%;
    padding: 10px 5px 50px 5px;
  }
  .texto-slider h2, .texto-slider p {
    font-size: 1rem;
    margin: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .slide picture, .slide img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.contenedor-titulo {
  width: 100%;
  padding: 3px 0;
  margin-top: 45px;
  background-color: #669933;
  text-align: center;
  color: white;
  border-bottom: 50px solid white;
}

.servicios-title,
.servicios-title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.servicios-title-1,
.servicios-title2-1 {
  position: relative;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicios-title-1 h3,
.servicios-title2-1 h3 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  color: white;
  background-color: #999999;
}

.servicios-title2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background-color: #999999;
}

.servicios-title2-1 h3 {
  text-align: end;
  padding-right: 40px;
}

.servicios-title2-1 i {
  font-size: 3rem;
  margin-right: 20px;
  color: white;
}

.servicios-title-1::after {
  position: absolute;
  right: -80px;
  content: '';
  width: 70px;
  height: 100%;
  background-color: #999999;
  -webkit-transform: translateX(-60%) skewX(45deg);
          transform: translateX(-60%) skewX(45deg);
}

.servicios-title2-1::before {
  position: absolute;
  left: -80px;
  content: '';
  width: 70px;
  height: 100%;
  background-color: #999999;
  -webkit-transform: translateX(60%) skewX(-45deg);
          transform: translateX(60%) skewX(-45deg);
}

.servicios-title-2,
.servicios-title2-2 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: -1;
}

.servicios-title-2 h5,
.servicios-title2-2 h5 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: white;
  background-color: black;
}

.servicios-title-columnas {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.servicios-title-columnas .servicios-title-column-1 {
  width: 50%;
}

.servicios-title-columnas .servicios-title-column-1 p {
  width: 350px;
  color: #669933;
}

.servicios-title-columnas .servicios-title-column-3,
.servicios-title-columnas .servicios-title-column-2 {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.servicios-title-columnas .servicios-title-column-3 img,
.servicios-title-columnas .servicios-title-column-2 img {
  max-width: 50%;
}

.servicios-title-columnas .servicios-title-column-3 h3,
.servicios-title-columnas .servicios-title-column-2 h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.servicios-title-columnas .servicios-title-column-3 p,
.servicios-title-columnas .servicios-title-column-2 p {
  font-weight: lighter;
  margin-top: 0;
  text-align: center;
}

.servicios {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[3];
      grid-template-columns: repeat(3, 20%);
  gap: 30px;
}

.servicios-col {
  text-align: center;
}

.servicios-col img {
  max-width: 50%;
}

.servicios-col h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.servicios-col p {
  font-weight: lighter;
  margin-top: 0;
}

.atencion {
  width: 100%;
  text-align: center;
  background-color: white;
}

.atencion h2 {
  padding-top: 40px;
  color: #999999;
}

.atencion-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.atencion-col img {
  max-width: 50%;
  margin: 30px auto;
}

@media screen and (max-width: 850px) {
  .servicios-title {
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicios-title-1,
  .servicios-title-2,
  .servicios-title2-1,
  .servicios-title2-2 {
    width: 80%;
  }
  .servicios-title2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 85px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .servicios-title2-2::before {
    position: absolute;
    left: -3px;
    content: '';
    width: 70px;
    height: 100%;
    background-color: black;
    -webkit-transform: translateX(-60%) skewX(45deg);
            transform: translateX(-60%) skewX(45deg);
  }
  .servicios-title-2::after {
    position: absolute;
    right: -45px;
    content: '';
    width: 70px;
    height: 100%;
    background-color: black;
    -webkit-transform: skewX(-45deg);
            transform: skewX(-45deg);
  }
  .servicios {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .servicios-title-columnas {
    width: 90%;
  }
  .servicios-title-columnas .servicios-title-column-1 p {
    width: 250px;
  }
  .atencion-col img {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .servicios-title-1,
  .servicios-title-2,
  .servicios-title2-1,
  .servicios-title2-2 {
    width: 85%;
  }
  .servicios {
    width: none;
    gap: 10px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .servicios-title-columnas {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .servicios-title-columnas .servicios-title-column-1 {
    width: 100%;
  }
  .servicios-title-columnas .servicios-title-column-1 p {
    width: 100%;
  }
  .servicios-title-columnas .servicios-title-column-2,
  .servicios-title-columnas .servicios-title-column-3 {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
  .atencion-col {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .atencion-col {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .atencion-col img {
    max-width: 80%;
  }
  .servicios-title-columnas h3 {
    font-size: 0.8rem;
  }
  .servicios .servicios-col h3 {
    font-size: 0.8rem;
  }
  .servicios-title-1,
  .servicios-title-2,
  .servicios-title2-1,
  .servicios-title2-2 {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
  .servicios-title2-1::before,
  .servicios-title2-2::before,
  .servicios-title-1::after,
  .servicios-title-2::after {
    display: none;
  }
  .servicios-title-column-2,
  .servicios-title-column-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.somos-masthead,
.somos-masthead2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  background-color: #999999;
}

.somos-masthead h1,
.somos-masthead2 h1 {
  text-transform: uppercase;
  color: white;
}

.somos-masthead2 {
  background-color: white;
}

.somos-masthead2 h1 {
  color: #999999;
}

.somos-experiencia,
.trayectoria-contenido {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.somos-experiencia .exp-col-1,
.somos-experiencia .trayectoria-contenido-fake,
.trayectoria-contenido .exp-col-1,
.trayectoria-contenido .trayectoria-contenido-fake {
  width: 20%;
  background-color: #669933;
  text-align: center;
  color: white;
}

.somos-experiencia .exp-col-1 img,
.somos-experiencia .trayectoria-contenido-fake img,
.trayectoria-contenido .exp-col-1 img,
.trayectoria-contenido .trayectoria-contenido-fake img {
  max-width: 100%;
}

.somos-experiencia .trayectoria-contenido-fake,
.trayectoria-contenido .trayectoria-contenido-fake {
  background-color: #f7f7ea;
}

.somos-experiencia .exp-col-2,
.somos-experiencia .trayectoria-contenido-col1,
.trayectoria-contenido .exp-col-2,
.trayectoria-contenido .trayectoria-contenido-col1 {
  width: 60%;
  padding: 0 15px;
}

.somos-experiencia .exp-col-2 p,
.somos-experiencia .trayectoria-contenido-col1 p,
.trayectoria-contenido .exp-col-2 p,
.trayectoria-contenido .trayectoria-contenido-col1 p {
  margin-top: 0;
  font-weight: lighter;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.somos-experiencia .exp-col-2 h3,
.somos-experiencia .trayectoria-contenido-col1 h3,
.trayectoria-contenido .exp-col-2 h3,
.trayectoria-contenido .trayectoria-contenido-col1 h3 {
  color: #669933;
  margin-bottom: 60px;
}

.somos-experiencia .exp-col-3,
.somos-experiencia .trayectoria-contenido-col2,
.trayectoria-contenido .exp-col-3,
.trayectoria-contenido .trayectoria-contenido-col2 {
  width: 20%;
}

.somos-experiencia .exp-col-3 video,
.somos-experiencia .trayectoria-contenido-col2 video,
.trayectoria-contenido .exp-col-3 video,
.trayectoria-contenido .trayectoria-contenido-col2 video {
  max-width: 100%;
}

.somos-experiencia .exp-col-3 img,
.somos-experiencia .trayectoria-contenido-col2 img,
.trayectoria-contenido .exp-col-3 img,
.trayectoria-contenido .trayectoria-contenido-col2 img {
  max-width: 50%;
}

@media screen and (max-width: 850px) {
  .trayectoria-contenido .trayectoria-contenido-fake {
    display: none;
  }
  .trayectoria-contenido .trayectoria-contenido-col1 {
    width: 70%;
  }
  .trayectoria-contenido .trayectoria-contenido-col2 {
    width: 30%;
  }
  .somos-experiencia {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .somos-experiencia .exp-col-2 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
  .somos-experiencia .exp-col-1,
  .somos-experiencia .exp-col-3 {
    width: 40%;
    margin: 0 10px;
  }
}

@media screen and (max-width: 650px) {
  .trayectoria-contenido {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trayectoria-contenido .trayectoria-contenido-col1 {
    width: 90%;
  }
  .trayectoria-contenido .trayectoria-contenido-col2 {
    width: 90%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .somos-experiencia .exp-col-1,
  .somos-experiencia .exp-col-3 {
    width: 100%;
    margin: 0 10px;
  }
}

.masthead-recoleta {
  margin-top: 50px;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.masthead-recoleta img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titulo-general-recoleta {
  margin: 50px;
}

.titulo-general-recoleta h4, .titulo-general-recoleta h1 {
  text-transform: uppercase;
  text-align: center;
}

.titulo-general-recoleta h4 {
  color: #669933;
}

.contenedor-servicios-recoleta {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[3];
      grid-template-columns: repeat(3, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.contenedor-servicios-recoleta .servicios-col-recoleta {
  margin-top: 80px;
}

.contenedor-servicios-recoleta .servicios-col-recoleta .col-recoleta-img {
  background-color: #cccccc;
}

.contenedor-servicios-recoleta .servicios-col-recoleta .col-recoleta-img img {
  margin-top: -21%;
  max-width: 50%;
}

.contenedor-servicios-recoleta .servicios-col-recoleta .col-recoleta-text {
  background-color: #cccccc;
  width: 100%;
  height: 110px;
}

.contenedor-servicios-recoleta .servicios-col-recoleta .col-recoleta-text h3 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin: 0;
  padding-top: 20px;
}

.contenedor-servicios-recoleta .servicios-col-recoleta .col-recoleta-text p {
  font-weight: lighter;
  margin-top: 0;
  text-align: center;
  font-size: 1rem;
}

.contenedor-servicios-recoleta .servicios-col-recoleta .col-recoleta-text i {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  color: #669933;
  background-color: #f7f7ea;
  padding: 5px;
  cursor: pointer;
}

.contenedor-servicios-recoleta .servicios-col-recoleta p,
.contenedor-servicios-recoleta .servicios-col-recoleta:last-child p {
  font-weight: lighter;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}

.contenedor-servicios-recoleta .servicios-col-recoleta .text-mute {
  opacity: 0.6;
}

.contenedor-servicios-recoleta .col-recoleta-extension {
  overflow: hidden;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor {
  display: none;
  -webkit-animation: dropdown 1s;
          animation: dropdown 1s;
  width: 100%;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor img {
  max-width: 100%;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .texto-verde {
  color: #669933;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .texto-verde h4 {
  text-align: start;
  margin-bottom: 0;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .texto-verde p {
  margin-top: 0;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor h3 {
  text-align: start;
  text-transform: uppercase;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .title-btn-wts {
  width: 100%;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .title-btn-wts h3 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #669933;
  padding: 10px 0;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .btn-wts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #999999;
  border-radius: 20px;
  left: 0;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .btn-wts img {
  max-width: 15%;
}

.contenedor-servicios-recoleta .col-recoleta-extension .extension-contenedor .btn-wts h5 {
  margin: 0;
  margin-left: 30px;
  color: white;
}

.contenedor-servicios-recoleta .col-recoleta-extension .menu-contenedor-show {
  overflow: hidden;
  display: block;
}

@-webkit-keyframes dropdown {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@keyframes dropdown {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

.recoleta-dolor-portada {
  margin-top: 50px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #669933;
}

.recoleta-dolor-portada .dolor-portada-img {
  width: 25%;
}

.recoleta-dolor-portada .dolor-portada-img img {
  max-width: 100%;
}

.recoleta-dolor-portada h1 {
  margin: 0;
  margin-left: 80px;
  text-transform: uppercase;
}

.recoleta-dolor-portada::after {
  position: absolute;
  content: '';
  height: 5px;
  width: 100%;
  background-color: #f7f7ea;
  bottom: 0;
  left: 0;
}

.recoleta-dolor-contenido,
.patologias-contenido {
  max-width: 850px;
  margin: 30px auto;
}

.recoleta-dolor-contenido .dolor-navegacion,
.recoleta-dolor-contenido .patologia-navegacion,
.patologias-contenido .dolor-navegacion,
.patologias-contenido .patologia-navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cccccc;
  padding: 0 20px;
  border-bottom: 1px solid white;
}

.recoleta-dolor-contenido .dolor-navegacion h3,
.recoleta-dolor-contenido .patologia-navegacion h3,
.patologias-contenido .dolor-navegacion h3,
.patologias-contenido .patologia-navegacion h3 {
  font-weight: lighter;
  margin: 10px 0;
}

.recoleta-dolor-contenido .dolor-navegacion i,
.recoleta-dolor-contenido .patologia-navegacion i,
.patologias-contenido .dolor-navegacion i,
.patologias-contenido .patologia-navegacion i {
  color: #669933;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.recoleta-dolor-contenido .dolor-texto-contenedor,
.recoleta-dolor-contenido .patologias-texto,
.patologias-contenido .dolor-texto-contenedor,
.patologias-contenido .patologias-texto {
  overflow: hidden;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido,
.recoleta-dolor-contenido .patologias-texto .dolor-texto,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido,
.patologias-contenido .dolor-texto-contenedor .dolor-texto,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido,
.patologias-contenido .patologias-texto .dolor-texto,
.patologias-contenido .patologias-texto .patologias-texto-contenido {
  display: none;
  -webkit-animation: movi 1s;
          animation: movi 1s;
  padding: 0 20px;
  background-color: white;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto p,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido p,
.recoleta-dolor-contenido .patologias-texto .dolor-texto p,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido p,
.patologias-contenido .dolor-texto-contenedor .dolor-texto p,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido p,
.patologias-contenido .patologias-texto .dolor-texto p,
.patologias-contenido .patologias-texto .patologias-texto-contenido p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0;
  font-weight: lighter;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto h3,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido h3,
.recoleta-dolor-contenido .patologias-texto .dolor-texto h3,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido h3,
.patologias-contenido .dolor-texto-contenedor .dolor-texto h3,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido h3,
.patologias-contenido .patologias-texto .dolor-texto h3,
.patologias-contenido .patologias-texto .patologias-texto-contenido h3 {
  color: #669933;
  margin-bottom: 0;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto .boton-cerrar-drop,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido .boton-cerrar-drop,
.recoleta-dolor-contenido .patologias-texto .dolor-texto .boton-cerrar-drop,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido .boton-cerrar-drop,
.patologias-contenido .dolor-texto-contenedor .dolor-texto .boton-cerrar-drop,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido .boton-cerrar-drop,
.patologias-contenido .patologias-texto .dolor-texto .boton-cerrar-drop,
.patologias-contenido .patologias-texto .patologias-texto-contenido .boton-cerrar-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto .boton-cerrar-drop p,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido .boton-cerrar-drop p,
.recoleta-dolor-contenido .patologias-texto .dolor-texto .boton-cerrar-drop p,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido .boton-cerrar-drop p,
.patologias-contenido .dolor-texto-contenedor .dolor-texto .boton-cerrar-drop p,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido .boton-cerrar-drop p,
.patologias-contenido .patologias-texto .dolor-texto .boton-cerrar-drop p,
.patologias-contenido .patologias-texto .patologias-texto-contenido .boton-cerrar-drop p {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #669933;
  color: white;
  margin-bottom: 20px;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido,
.recoleta-dolor-contenido .patologias-texto .dolor-texto .img-contenedor-contenido,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido,
.patologias-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido,
.patologias-contenido .patologias-texto .dolor-texto .img-contenedor-contenido,
.patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido p,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido p,
.recoleta-dolor-contenido .patologias-texto .dolor-texto .img-contenedor-contenido p,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido p,
.patologias-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido p,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido p,
.patologias-contenido .patologias-texto .dolor-texto .img-contenedor-contenido p,
.patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido p {
  padding-left: 10px;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido .img-contenedor-texto p, .recoleta-dolor-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido .img-contenedor-texto h3,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto p,
.recoleta-dolor-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto h3,
.recoleta-dolor-contenido .patologias-texto .dolor-texto .img-contenedor-contenido .img-contenedor-texto p,
.recoleta-dolor-contenido .patologias-texto .dolor-texto .img-contenedor-contenido .img-contenedor-texto h3,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto p,
.recoleta-dolor-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto h3,
.patologias-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido .img-contenedor-texto p,
.patologias-contenido .dolor-texto-contenedor .dolor-texto .img-contenedor-contenido .img-contenedor-texto h3,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto p,
.patologias-contenido .dolor-texto-contenedor .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto h3,
.patologias-contenido .patologias-texto .dolor-texto .img-contenedor-contenido .img-contenedor-texto p,
.patologias-contenido .patologias-texto .dolor-texto .img-contenedor-contenido .img-contenedor-texto h3,
.patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto p,
.patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto h3 {
  padding-left: 10px;
  padding-right: 10px;
}

.recoleta-dolor-contenido .dolor-texto-contenedor .menu-dolor-show,
.recoleta-dolor-contenido .patologias-texto .menu-dolor-show,
.patologias-contenido .dolor-texto-contenedor .menu-dolor-show,
.patologias-contenido .patologias-texto .menu-dolor-show {
  overflow: hidden;
  display: block;
}

@-webkit-keyframes movi {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@keyframes movi {
  0% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

.patologias-contenido .patologia-navegacion {
  z-index: 5555;
}

.patologias-contenido .patologia-navegacion h3 {
  text-transform: uppercase;
}

.patologias-contenido .patologias-contenedor-item {
  overflow: hidden;
}

.patologias-contenido .patologias-contenedor-item .patologias-subcont-item .patologia-item-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  background-color: #99cc99;
  color: white;
}

.patologias-contenido .patologias-contenedor-item .patologias-subcont-item .patologia-item-contenido p {
  margin: 0;
  padding: 10px 0;
}

.patologias-contenido .patologias-contenedor-item .patologias-subcont-item .patologia-item-contenido i {
  color: #669933;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.patologias-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.patologias-title img {
  width: 100px;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.patologias-title h4 {
  padding: 15px 15px 15px 60px;
  text-transform: uppercase;
  background-color: #669933;
  color: white;
}

.patologias-title h4 i {
  margin-left: 20px;
  background-color: white;
  color: #669933;
  padding: 5px;
}

.patologias-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[5];
      grid-template-columns: repeat(5, 150px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.patologias-grid .patologias-grid-item {
  overflow: hidden;
  position: relative;
  height: 137px;
}

.patologias-grid .patologias-grid-item .grid-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 153, 51, 0.6);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.patologias-grid .patologias-grid-item .grid-text p {
  text-transform: uppercase;
  color: white;
}

.patologias-grid .patologias-grid-item:hover .grid-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.patologias-grid .patologias-grid-item img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 850px) {
  .contenedor-servicios-recoleta {
    -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
  }
  .patologias-grid {
    -ms-grid-columns: (150px)[3];
        grid-template-columns: repeat(3, 150px);
  }
  .patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido p, .patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido h3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto p, .patologias-contenido .patologias-texto .patologias-texto-contenido .img-contenedor-contenido .img-contenedor-texto h3 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 650px) {
  .contenedor-servicios-recoleta {
    -ms-grid-columns: (250px)[1];
        grid-template-columns: repeat(1, 250px);
  }
  .recoleta-dolor-portada h1 {
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

@media screen and (max-width: 450px) {
  .contenedor-servicios-recoleta {
    -ms-grid-columns: (90%)[1];
        grid-template-columns: repeat(1, 90%);
  }
  .patologias-title h4 {
    padding: 15px 15px 15px 30px;
    font-size: 0.9rem;
  }
  .patologias-grid {
    -ms-grid-columns: (130px)[2];
        grid-template-columns: repeat(2, 130px);
    gap: 2%;
    margin-bottom: 160px;
  }
  .patologias-grid .patologias-grid-item {
    height: 120px;
  }
}

.prp-titulo {
  margin: 50px 0;
  width: 100%;
  height: 100px;
  text-align: center;
}

.prp-titulo h5 {
  text-transform: uppercase;
  color: #669933;
}

.prp-titulo h2 {
  text-transform: uppercase;
}

.prp-logo-wts {
  width: 50%;
  margin: 0 auto;
}

.prp-logo-wts .prp-logo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
}

.prp-logo-wts .prp-logo-cont .cont-text {
  width: 90%;
  text-align: center;
  background-color: #669933;
}

.prp-logo-wts .prp-logo-cont .cont-text h3 {
  margin: 8px;
  text-transform: uppercase;
  color: white;
}

.prp-logo-wts .prp-logo-cont .cont-img {
  position: absolute;
  top: -7px;
  left: -25px;
}

.prp-logo-wts .prp-logo-cont .cont-img img {
  width: 100px;
}

.prp-logo-wts .prp-logo-cont .cont-wts {
  position: absolute;
  right: -70px;
  top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #999999;
  border-radius: 50px;
  padding-right: 30px;
}

.prp-logo-wts .prp-logo-cont .cont-wts img {
  width: 40px;
  margin-right: 10px;
}

.prp-logo-wts .prp-logo-cont .cont-wts h4, .prp-logo-wts .prp-logo-cont .cont-wts p {
  margin: 0;
  color: white;
}

.prp-logo-wts .prp-logo-cont .cont-wts p {
  text-transform: capitalize;
}

.prp-logo-wts .prp-logo-cont .cont-wts h4 {
  text-transform: uppercase;
}

.prp-logo-contenedor {
  width: 90%;
  margin: 0 auto;
}

.prp-logo-contenedor .prp-logo {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prp-logo-contenedor .prp-logo img {
  width: 100px;
}

.prp-logo-contenedor .prp-logo h3 {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}

.prp-logo-contenedor .prp-logo::before {
  content: '';
  height: 30px;
  background-color: #669933;
  width: 90%;
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
  z-index: -1;
  margin-right: auto;
}

.prp-contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.prp-contenido .prp-col-1,
.prp-contenido .prp-col-2,
.prp-contenido .prp-col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.prp-contenido .prp-col-1 img,
.prp-contenido .prp-col-2 img,
.prp-contenido .prp-col-3 img {
  max-width: 100%;
}

.prp-contenido .prp-col-1 p,
.prp-contenido .prp-col-2 p,
.prp-contenido .prp-col-3 p {
  font-weight: lighter;
  text-align: justify;
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  margin: 0;
}

.prp-contenido .prp-col-1 video,
.prp-contenido .prp-col-2 video,
.prp-contenido .prp-col-3 video {
  max-width: 100%;
}

@media screen and (max-width: 950px) {
  .prp-logo-wts {
    width: 80%;
  }
  .prp-contenido {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: minmax(100px, auto);
        grid-template-rows: minmax(100px, auto);
  }
  .prp-contenido .prp-col-1,
  .prp-contenido .prp-col-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .prp-contenido .prp-col-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .prp-contenido .prp-col-3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .prp-contenido .prp-col-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .prp-logo-contenedor {
    width: 100%;
  }
  .prp-logo-contenedor .prp-logo {
    width: 60%;
  }
}

@media screen and (max-width: 650px) {
  .prp-logo-wts {
    width: 90%;
  }
  .prp-logo-wts .prp-logo-cont .cont-text {
    width: 100%;
  }
  .prp-logo-wts .prp-logo-cont .cont-wts {
    right: 0;
    top: 100%;
  }
  .prp-contenido {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  .prp-contenido .prp-col-1,
  .prp-contenido .prp-col-2,
  .prp-contenido .prp-col-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .prp-contenido .prp-col-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .prp-contenido .prp-col-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .prp-contenido .prp-col-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 450px) {
  .prp-logo-wts {
    width: 100%;
  }
  .prp-logo-wts .prp-logo-cont .cont-img {
    left: 0;
  }
  .prp-logo-wts .prp-logo-cont .cont-wts .cont-wts-text {
    font-size: 0.7rem;
  }
  .prp-logo-contenedor .prp-logo {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */