* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}

body {
    padding-top: 84px;
    background-color:  rgb(247, 247, 234);
}

@import './variables.scss';
@import './header.scss';
@import './footer.scss';
@import './iconowts.scss';
@import './slider.scss';
@import './index.scss';
@import './somos.scss';